/* Asterisk is a wildcard character that selects all elements on the page. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General stylkes */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
}

/* Header */
header {
    background-color: lightcoral;
}

/* Main Content */
main {
    background-color: lightblue;
}

/* Footer */

footer {
    background-color: orange;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}